@charset "utf-8";
/* CSS Document */
body{ margin:0px; padding:0px;font-size:12px; color:#6B6B6B;}
*{ margin:0px; padding:0px;}
ul,li{ list-style:none;}
a{text-decoration:none; color:#6B6B6B;}
a:hover{ color:#8A5C29;}
:focus {outline:0;}
img{ border:0px;}
h1,h2,h3,h4{ font-weight:normal;}
h1,h2{ font-family:"微软雅黑","宋体";}

.wrapper{ width:1024px; margin:0px auto;}
.img_01{ margin:0 20px; float:left;}

/* header */
#header,#header img{ float:left;}
.header_nav{ float:left; width:603px;padding:26px 130px 0px 60px;background:url(/images/update/nav_back.gif) no-repeat left top;height:73px;overflow:hidden;}
.header_nav a{ height:40px; float:left; display:block;line-height:40px;text-align:center;font-size:14px;color:#4b3019;}
.header_nav a.active{background:url(/images/update/nav_active.png) no-repeat 50% top;color:#fff;}
.nav_01 { width:103px;}
.nav_02 {width:117px}
.nav_03 {width:141px;}
.nav_04 { width:134px;}
.nav_05 {width:108px;}


/*min_nav*/
.min_nav{background:url(/images/update/min_nav.png) no-repeat left top;position: absolute; width:91px; height:106px;top:0px;right:0px;padding-top:127px;}
.min_nav a{display: block;height:21px;}
/* main */
#main{ float:left; background:url(/images/update/nav_05.gif) repeat-y;}
#main img{ float:left;}
.content{ float:left; width:793px;position: relative;overflow:hidden;}
.index_content{background:url(/images/update/im_back.gif) no-repeat left bottom;}
.content img{ float:left;}
.content p{float:left; width:713px; line-height:30px; text-align:right; padding-right:80px;}
.content p a{ margin:0 5px; color:#6D6D6D;}
.news_list{ float:left; width:321px; margin:0; padding-top:5px; padding-left:50px;overflow:hidden;}
.news_list h1 a,.photos_list h1 a,.photos h1 a{ font-size:16px; color:#1B580B; line-height:36px;}
.news_list ul{margin-left:19px;}
.news_list ul li{ float:left; width:302px; border-bottom:1px solid #CFC8C8; line-height:26px;}
.news_list ul li a{float:left;width:220px;height:26px; overflow:hidden;}
.news_list ul li span{ float:right; color:#628F35;width:80px;text-align:right;}
.photos_all{overflow:hidden; margin-left:20px;}
.photos_list{ float:right; width:324px; margin:0px 0 0 0;}
.photos_list h1{height:39px; overflow:hidden;}
.photos_img{ margin-top:20px;}
.photos_list ol{ float:left; width:280px; margin:0 5px;}
.photos_list ol li{ float:left; width:60px; height:48px; margin-right:4px; border:1px solid #CBCBCB; padding:2px;}

.photos{float:left; width:333px; margin:0px 0 0 0px;overflow:hidden;}
.photos .photos_index{height:140px;overflow:hidden;}
.photos span{float:right; width:148px;}
.photos h2{ font-size:14px; color:#4C574F;}

.photos h3{ float:left; width:150px;display: inline; font-size:12px; line-height:20px; margin-top:10px;margin-left:25px; color:#979797;}
.photos h3 a{ float:right;}

.left{ float:left; width:231px; background:url(/images/update/left.gif) repeat-y;overflow:hidden;}
.left ul{ float:left; width:231px; height:294px; background:url(/images/update/nav_02.gif) no-repeat;}
.left ul li{ float:left; width:150px; margin:0 0 0 40px; border-bottom:1px dashed #BBA990;display:inline;}
.left ul li a{ line-height:30px; padding:0 0 0 25px;color:#7D5C4F; display:block;}
.left ul li a:hover,.left ul li.active a{ line-height:30px; color:#FFFFFF;padding:0 0 0 25px; background:url(/images/icons/icons_04.gif) no-repeat 0px 6px; display:block;}

.index_left{background:url(../images/temp/index_side.gif) no-repeat left top;height:593px;position: relative;}
#player{position: absolute; left:15px; top:150px;}
.video_links{position: absolute;top:305px;height:20px;text-align:right;width:220px; color:#4B3019;text-decoration: underline;}
.comments_links{display: block; position: absolute; width:210px;height:140px;top:330px;left:15px;}
/* footer */
#footer{ float:left; margin-bottom:20px;width:1000px;overflow:hidden;padding-right:24px;}
#footer a.foot_logo{float:left;margin:0px; width:231px;}
#footer p{ float:right; width:700px; line-height:22px; text-align:right;}
#footer p a{ margin:0 5px;}

/* footer */
.article{ float:left; width:600px; margin:0 100px;display:inline;}
.article p{ float:left; width:600px; line-height:24px; text-align:left; font-size:14px; overflow:auto;}
.article h1{ font-size:18px; color:#543703; text-align:center; line-height:48px;}
.article h2{ font-size:16px; color:#543703; text-align: left; line-height:30px;}

/* product.html */
.product ul{float:left; margin:10px 70px; padding:0px; width:660px;display:inline;}
.product ul li{float:left;width:660px; padding:10px 0;}
.product ul li p{ float:left; width:350px; margin:10px 5px; padding:0px; text-align:left;line-height:22px;}
.product h2{ width:350px; padding:0 0 0 10px; color:#2E9600; float:left; text-align:left;font-size:16px; line-height:36px;}

/* blog.html */
.blog_list{ float:left;width:550px; margin:10px 0; padding:0 0 0 120px;}
.blog_list tr td{ line-height:30px;}
.blog_list .line{ border-top:1px solid #CECECE;}
.blog_list .line_01{ border-bottom:2px solid #8B6D52;}
.blog_list .list_news{ background:url(/images/update/nav_04.gif) no-repeat 0 5px; border-top:4px solid #8B6D52; color:#504036; text-align:center; font-weight:bold; height:40px;}
.blog_list p{ float:left;width:550px; text-align:center; margin:10px 0;}
.blog_list p a{ margin:0px 5px;}
.blog_list p a:hover{ color:#8A5C29;}

/* collection.html */
.photos_show{ float:left; width:593px; margin:10px 0 0 0px; padding:0 100px;}
.photos_show ul{ float:left; width:79px; margin-right:8px;}
.photos_show ul li{ float:left; width:79px; margin-bottom:5px;}
.photos_show img{ float:right;}

.photos_box{ float:left; width:503px; margin:10px 0 0 0px; padding:0 0 0 105px;}
.photos_box tr td{ line-height:30px; text-align: center;}
.photos_box tr td.line{ border-bottom:1px solid #D5D5D5;border-top:2px solid #21AF1E;}

/* comment.html */
.my_comment,.comment{ float:left; width:600px;margin:10px 0 0 50px;}
.my_comment{ background-color:#F3F4F4; border:1px solid #E2E9ED; padding:20px 30px;}
.my_comment tr td{ line-height:30px;}
.icon_07{ width:80px; background-color:#B89969;line-height:22px; text-align:center; display:block; color:#ffffff;}
.text,.form{border:1px solid #E2E9ED; color:#808080}
.text{ height:16px; line-height:16px; padding:2px;width:200px;}
.form{height:100px; font-size:12px; line-height:20px; padding:2px; width:500px; margin:10px 0 0 0;}

.comment p{ float:left; width:660px; text-align:left;}
.comment ul{ float:left; width:660px;}
.comment ul li{ float:left;width:640px; padding:10px; margin-bottom:10px; background-color:#F3F4F4; color:#A5A5A4; line-height:22px;}
.comment ul li h3{font-size:12px; color:#3F7C17;}
.comment ul li h4{font-size:12px; color:#613F22;}


/*pikachoose*/
/*if you just want to adjust the size of the stage and the thumbnails, you can do so by editing the following lines: */
.pika-thumbs li{width: 80px; height:60px;}
.pika-stage {height:320px;}
#pikame{width:80px;}

body{font-family:Helvetica, sans-serif;}

.pikachoose {width: 600px; margin: 0 auto;position:relative;height:320px}
.pika-stage {position: absolute;left:90px;padding: 0px;}
	
	/*if you change the padding on pika-stage you must adjust the top left of this to match! */
	.pika-stage .main-image {position: absolute; top: 0px; left: 0px;}
	.pika-stage .pika-aniwrap{position: absolute; top: 0px; left: 0px;}
	.pika-stage .pika-ani {position:relative;display: none;z-index:2;margin:0 auto;}
	.pika-stage img {border:0;height:100%;}
	
.pika-stage .caption {position: absolute; background: url(/images/icons/75-black.png);  border: 1px solid #141414; font-size: 11px; 
			color: #fafafa; padding: 10px; text-align: right; bottom: 50px; right: 10px;}
	.pika-stage .caption p {padding: 0; margin: 0; line-height: 14px;}

.pika-imgnav a {position: absolute; text-indent: -5000px; display: block;z-index:3;}
	.pika-imgnav a.previous {background: url(/images/icons/prev.png) no-repeat left 45%; height: 100%; width: 50px; top: 0px; left: 0px;cursor:pointer;}
	.pika-imgnav a.next {background: url(/images/icons/next.png) no-repeat right 45%; height: 100%; width: 50px; top: 0px; right: 0px;cursor:pointer;}
	.pika-imgnav a.play {background: url(/images/icons/play.png) no-repeat 0% 50%; height: 100px; width: 44px;top:0;left:50%;display: none;cursor:pointer;}
	.pika-imgnav a.pause {background: url(/images/icons/pause.png) no-repeat 0% 50%; height: 100px; width: 44px;top:0;left:50%;display:none;cursor:pointer;}

.pika-textnav {overflow: hidden; margin: 10px 0 0 0;display:none}
.pika-textnav a {font-size: 12px; text-decoration: none; color: #333; padding: 4px;}
	.pika-textnav a.previous {float: left; width: auto; display: block;}
	.pika-textnav a.next {float: right; width: auto; display: block;}
	
.pika-thumbs {margin: 10px 0 0 17px; padding: 0; overflow: hidden;width:250px;}
	.pika-thumbs li {float: left; list-style-type: none;padding: 0px 0px 5px;margin:0px; cursor: pointer;}
		.pika-thumbs li:last {margin: 0;}
		.pika-thumbs li .clip {position:relative;height:100%;text-align: center; vertical-align: center; overflow: hidden;}

/*for the tool tips*/
.pika-tooltip{font-size:12px;position:absolute;color:white;padding:3px; background-color: rgba(0,0,0,0.7);border:3px solid black;}
.pika-counter{position: absolute;bottom: 15px;left:15px;color:white;background:rgba(0,0,0,0.7);font-size:11px;padding:3px;-moz-border-radius: 5px;border-radius:5px;}
		
/* jCarousel Styles */
/*if you're not using the carousel you can delete everything below this */
.jcarousel-skin-pika .jcarousel-container-vertical { width: 80px;height: 320px; padding: 0px 8px 0px 0px;}
.jcarousel-skin-pika .jcarousel-clip-vertical { width:  80px; height: 320px;}
.jcarousel-skin-pika .jcarousel-item-vertical { margin-top: 0px;}
/**/
.qq_all {background-color:transparent;height: 158px;overflow: hidden;position: fixed;right: 0;top: 35%;width: 145px;}
.show_qq{text-align:right; width:33px;height:158px;float:right;}
.qq_main,.qq_top,.qq_content{background-image:url(../images/icons/qq_listbg.gif);background-attachment: scroll; width:145px;}
.qq_main{background-position: right bottom; background-repeat: no-repeat;padding-bottom:6px;text-align:left;}
.qq_top{background-position: left top;background-repeat: no-repeat; height:6px;}
.qq_content{background-position: 50% top; background-repeat: repeat-y;color:#ffffff; width:105px;padding:0px 20px;}
.qq_content h2{font-size:14px;color:#fff;text-align:center;line-height:20px;margin-bottom:5px;}
.qq_content li{line-height:30px;}
.qq_content li img{vertical-align:middle;margin-right:10px;}
.qq_content li a{color:#fff;}
.qq_content li a:hover{color:#628F35;}